@{
    Layout = "_Layout";
}


<h1>
    Clients Page
</h1>
<br />

<ul>
    <li>
        <a href="/clients/edit/1">Client with the id 1</a>
    </li>
    <li>
        <a href="/clients/edit/2">Client with the id 2</a>
    </li>
</ul>

